{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}
    <h1>Edit Utilisateur</h1>

    {{ form_start(formulaire) }}
    {{ form_widget(formulaire) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(formulaire) }}


{% endblock %}