{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum facilis magnam id deleniti quos tempora nam, porro a officiis temporibus provident iste amet ab totam numquam dolore inventore laudantium iusto.</p>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis explicabo quo labore possimus unde. Corporis eos voluptates quam nam error numquam itaque? Corrupti praesentium eaque, quibusdam neque expedita amet dignissimos..</p>
{% endblock %} 
