{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

<h1>Reglement</h1>

<p>1) Lorem ipsum dolor sit, amet consectetur ad.</p>

<p>2) Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, minima!</p>

<p>3) Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, minima!</p>

<p>4) Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, minima!</p>

<p>5) Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, minima!</p>

<p>6) Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, minima!</p>


{% endblock %}


